# Dependencies
node_modules/

# Build / output
dist/
build/
.parcel-cache/

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel

# IDE / OS
.DS_Store
*.log
.idea/
.vscode/
*.swp
*.swo

# Optional
coverage/
*.tsbuildinfo
